
@font-face {font-family: "icon";
  src: url('iconfont.eot?t=1492417052497'); /* IE9*/
  src: url('iconfont.eot?t=1492417052497#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492417052497') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492417052497') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492417052497#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:0.4rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueyueaiicon_yiwancheng:before { content: "\e710"; }

.icon-yueyueaiicon_saomiao:before { content: "\e711"; }

.icon-yueyueaiicon_weixuan:before { content: "\e712"; }

.icon-yueyueaiicon_yixuan:before { content: "\e713"; }

.icon-yueyueaiicon_tianjia:before { content: "\e714"; }

.icon-yueyueaiicon_xingxing:before { content: "\e715"; }

.icon-yueyueaiicon_zhifubao:before { content: "\e716"; }

.icon-yueyueaiicon_daifukuan:before { content: "\e717"; }

.icon-yueyueaiicon_zhifuweixin:before { content: "\e718"; }

.icon-yueyueaiicon_zhifuweixin1:before { content: "\e719"; }

.icon-yueyueaiicon_daipingjia:before { content: "\e71a"; }

.icon-yueyueaiicon_daishouhuo:before { content: "\e71b"; }

.icon-yueyueaiicon_zhifubao1:before { content: "\e71c"; }

.icon-yueyueaiicon_dibugouwuche:before { content: "\e71d"; }

.icon-yueyueaiicon_dibuwode:before { content: "\e71e"; }

.icon-yueyueaiicon_dibuguanzhu:before { content: "\e71f"; }

.icon-yueyueaiicon_dibushangcheng:before { content: "\e720"; }

.icon-yueyueaiicon_dizhi:before { content: "\e721"; }

.icon-yueyueaiicon_erweima:before { content: "\e722"; }

.icon-yueyueaiicon_erweima1:before { content: "\e723"; }

.icon-yueyueaiicon_fanhuijiantou:before { content: "\e724"; }

.icon-yueyueaiicon_fenxiang:before { content: "\e725"; }

.icon-yueyueaiicon_gouwuche:before { content: "\e726"; }

.icon-yueyueaiicon_jiantou:before { content: "\e727"; }

.icon-yueyueaiicon_lingsheng:before { content: "\e728"; }

.icon-yueyueaiicon_peisongzhong:before { content: "\e729"; }

